@import "font.sass";

.test {
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    font-family: "Fegan";
}

.test div {
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    font-family: "CaviarDreams";
}